apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: oauth2-proxy
  name: oauth2-proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: oauth2-proxy
  template:
    metadata:
      labels:
        app: oauth2-proxy
    spec:
      containers:
      - args:
        - -provider=google
        - -upstream=file:///dev/null
        - -http-address=0.0.0.0:4180
        - -client-id={{OAUTH_PROXY_CLIENT_ID}}
        - -client-secret={{OAUTH_PROXY_CLIENT_SECRET}}
        - -cookie-domain=prometheus.{{GCLOUD_PROJECT}}.measurementlab.net
        - -cookie-refresh=1h
        - -cookie-secret='0tcbJv2l9T1uwN0nxTSqeA=='
        image: quay.io/oauth2-proxy/oauth2-proxy:v6.0.0-amd64
        name: oauth2-proxy
        ports:
        - containerPort: 4180
          protocol: TCP
